.remarksync-progress-container {
    width: 100%;
    height: 20px;
    background: var(--background-modifier-border);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.remarksync-progress-bar {
    width: var(--remarksync-progress, 0%);
    height: 100%;
    background: var(--interactive-accent);
    transition: width 0.3s;
}

.remarksync-progress-bar--success {
    background: var(--color-green);
}

.remarksync-progress-bar--warning {
    background: var(--color-orange);
}

.remarksync-progress-details {
    margin-top: 10px;
    font-size: var(--font-ui-smaller);
}
